<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
		<head>
				<!-- META TAGS -->
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width" />
				
				<!-- Title -->
				<title>八阿哥租房系统 列表页</title>
				
				<!-- Style Sheet-->
				<link rel="stylesheet" href="/static/css/index/style.css">
                <link rel="stylesheet" href="/static/css/index/bootstrap.css">
				<link rel="stylesheet" href="/static/css/index/responsive.css">
                <link rel="stylesheet" href="/static/css/index/flexslider.css">

                <!-- favicon -->
				<link rel="shortcut icon" href="/static/images/index/favicon.png">
				
				<!--[if lt IE 9]>
						<script src="/static/js/index/html5shiv.js"></script>
						<link rel="stylesheet" href="/static/css/index/ie.css">
                <![endif]-->
                <style>
                        #login-link{
                            position: relative;
                            float: right;
                            right: -100px;
                            margin-top: 10px;   
                        }
                        .logo{
                            position:absolute;
                            top: 68px;
                            left: 110px;
                        }
                        #logoimg{
                            height: 100px;
                            /* width: 150px; */
                        }
                        #copy{
                            position: absolute;
                            left: 37%;
                            font-size: 20px;
                            color: aliceblue;
                        }
                        .search{
                            width: 200px;
                        }
                        #accordion{
                            width:300px;
                        }
                        .span4{
                            color: aliceblue;
                        }
                        #searchadd{
                            width: 175px;
                        }
                    </style>
		</head>
		<body>
                <!-- HEADER TOP -->
                <div id="top"></div>
				<div class="header-one">
					<div class="headertop-wrapper">
						<div class="container">
					    		
					            <div class="row">
					            	<div class="span5 clearfix">
					                	<!-- <div class="lang pull-right">
					                    	<span>Select a language:<a href="#">English</a></span>
					                    </div> -->
                                    </div>


                                    <!-- 搜索功能 -->
					                <div class="span4 srch">
                                        <form action='/index_list' method="POST" >
                                            <input type="text" name="Location" placeholder="请输入您需要查找的区域" id="searchadd">
                                            <input type="submit" value="">
                                        </form>
					                </div>
					                <div class="span3" id="login-link">
					                	<!-- <div class="social-nav">
					                    </div> -->
                                        <a href="/private" class="sign-in" >{{params.uname}}的个人主页</a>
                                        <a href="/cancel" class="sign-in">退出</a>
					                </div>
					            </div>
					    </div>
					</div>
				</div>
				<!-- HEADER IOP -->

				<!-- HEADER -->
                <div class="header-wrapper">
                	<div class="container">
                    	<div class="row">
                        
                        	<!-- Logo -->
                            <div class="span4">
                            	<div class="logo">
                                    <!-- 修改logo -->
                                	<a href="/"><img src="/static/images/index/logo.png" alt="Logo" id="logoimg"></a>
                                </div>
                            </div>
                        	<!-- Logo -->
                            
                            <!--top Menu -->
                            <!-- <div class="span8">
                            	<div class="top-menu">
                                	<ul>
                                		<li><a href="#">About US</a></li>
                                		<li><a href="#">News</a></li>
                                		<li><a href="#">Serbice</a></li>
                                		<li><a href="#">Recruiment</a></li>
                                		<li><a href="#">Media</a></li>
                                		<li><a href="#" class="last">Support</a></li>
                                	</ul>
                                </div>
                            </div> -->
                            <!--top Menu -->
                        
                        </div>
                    </div>
                </div>
                <!-- HEADER -->
                <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >免费模板</a></div>

                <!-- Main Navigation -->
                <div class="nav-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            
                            	<nav>
                                    <ul>
                                        <li><a href="/">主页 </a>
                                        	<!-- <ul class="clearfix">
                                                <li><a href="index2.html">Home 2</a></li>
                                                <li><a href="index3.html">Home 3 </a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="/index_list?com=default&pn=1">房屋详情</a></li>
                                       	  <!-- <ul class="clearfix">
                                                <li><a href="travel_grid.html">Travel Grid</a></li>
                                                <li><a href="travel_list.html">Travel list</a></li>
                                                <li><a href="/index_detail"">Travel Detail</a></li>
                                            </ul>
                                        </li> -->
                                      <!-- <li><a href="#">Holidays</a></li>
                                        <li>
                                            <a href="#">Flights</a>
                                          <ul class="clearfix">
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Notebook </a></li>
                                                <li><a href="#">Tablet </a> </li>
                                                <li><a href="#">Television </a> </li>
                                                <li><a href="#">Smart Phone </a> </li>
                                                <li><a href="#">Projection </a> </li>
                                            </ul>
                                        </li> -->
                                      <!-- <li><a href="#">Cars</a></li>
                                      <li><a href="#">Vacations</a></li>
                                      <li><a href="#">Guide Book</a></li>
                                      <li><a href="#">Hot Deal</a></li> -->
                                        <!-- <li><a href="booking.html">Booking</a>
                                       	  <ul class="clearfix">
                                                <li><a href="confirm.html">Confirmation</a></li>
                                            </ul>
                                        </li>
                                        <li  class="last"><a href="contact.html">Contact</a></li> -->
                                    </ul>
                                </nav>

                                <!-- <div class="responsive_nav">
                                    <ul>
                                        <li class="open">
                                            <a href="#">HOME</a>
                                            <ul>
                                                <li><a href="#">Home </a></li>
                                                <li><a href="#">Hotels</a></li>
                                                <li><a href="#">Holidays</a></li>
                                                <li><a href="#">Flights</a> </li>
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Notebook </a></li>
                                                <li><a href="#">Tablet </a> </li>
                                                <li><a href="#">Television </a> </li>
                                                <li><a href="#">Smart Phone </a> </li>
                                                <li><a href="#">Projection </a> </li>
                                                <li><a href="#">Cars</a></li>
                                                <li><a href="#">Vacations</a></li>
                                                <li><a href="#">Guide Book</a></li>
                                                <li><a href="#">Hot Deal</a></li>
                                                <li><a href="#">Cruise</a></li>
                                                <li class="last"><a href="#">Promotion</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Navigation -->
                <!-- Crum -->
                <div class="crum-wrapper">
                	<div class="container">
                    	<div class="row">
                        	<div class="span12">
                            	<a href="/">主页</a>
                                <span class="crum">列表页</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Crum-->


                <!-- Grid page -->
                <div class="content">
                    <div class="container">
                        <div class="row">

                            <div class="span3" id="sidebar">

                                <div id="widget_accordion">
                                    <!-- <h3> 选择区域 <a href="#"></a></h3>
                                    <div class="widget">
                                        <div class="scrollbar1">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <ul>
                                                        <li><a href="/index_list?com=福田&pn=1">福田区</a> </li>
                                                        <li><a href="/index_list?com=罗湖&pn=1">罗湖区 </a></li>
                                                        <li><a href="/index_list?com=南山&pn=1">南山区 </a></li>
                                                        <li><a href="/index_list?com=龙华&pn=1">龙华区 </a> </li>
                                                        <li><a href="/index_list?com=宝安&pn=1">宝安区 </a> </li>
                                                        <li><a href="/index_list?com=龙岗&pn=1">龙岗区 </a></li>
                                                        <li><a href="/index_list?com=盐田&pn=1">盐田区 </a> </li>
                                                        <li><a href="/index_list?com=坪山&pn=1">坪山区 </a> </li>
                                                        <li><a href="/index_list?com=光明&pn=1">光明区 </a> </li>
                                                        <li><a href="/index_list?com=大鹏&pn=1">大鹏新区 </a></li>  
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                    <h3> 价格区间 <a href="#"></a></h3>
                                    <div class="widget">
                                        <form method="POST" action="/index_list">
                                            <input type="text" placeholder="区域(如:宝安区)" name="Location">
                                            <input type="number" placeholder="最低价" name='low_price' value="1000">
                                            <input type="number" placeholder="最高价" name='high_price' value="2000">
                                            <input type="submit" value='搜索' style="margin-top:10px;">
                                        </form>
                                    </div>

                                    <!-- <h3> Stars reting <a href="#"></a></h3>
                                    <div class="widget">
                                        <div class="stars clearfix">
                                            <a href="#" class="blue_star"></a>
                                            <a href="#" class="blue_star"></a>
                                            <a href="#" class="blue_star"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <p>Read 8 Reviews</p>
                                        </div>
                                    </div>

                                    <h3> Hotel facilities <a href="#"></a></h3>
                                    <div class="widget facilitie_widget">
                                        <div class="scrollbar1">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <ul>
                                                        <li><a href="#">Camera</a> <span>(9)</span></li>
                                                        <li class="tick"><a href="#">Notebook </a> <span>(16)</span></li>
                                                        <li><a href="#">Tablet </a> </li>
                                                        <li><a href="#">Television </a> </li>
                                                        <li><a href="#">Smart Phone </a> </li>
                                                        <li><a href="#">Projection </a> </li>
                                                        <li><a href="#">Tablet </a> </li>
                                                        <li><a href="#">Television </a> </li>
                                                        <li><a href="#">Smart Phone </a> </li>
                                                        <li><a href="#">Projection </a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3> Room facilities <a href="#"></a></h3>
                                    <div class="widget facilitie_widget">
                                        <div class="scrollbar1">
                                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <ul>
                                                        <li><a href="#">Camera</a> <span>(9)</span></li>
                                                        <li class="tick"><a href="#">Notebook </a> <span>(16)</span></li>
                                                        <li><a href="#">Tablet </a> </li>
                                                        <li><a href="#">Television </a> </li>
                                                        <li><a href="#">Smart Phone </a> </li>
                                                        <li><a href="#">Projection </a> </li>
                                                        <li><a href="#">Tablet </a> </li>
                                                        <li><a href="#">Television </a> </li>
                                                        <li><a href="#">Smart Phone </a> </li>
                                                        <li><a href="#">Projection </a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3> Other <a href="#"></a></h3> -->

                                </div>
                            </div>

                            <div class="span9 right_content">
                                <div class="row">
                                    <div class="portfolio-nav span9 clearfix"  style="margin-bottom:0px;">
                                        <strong>排序方式:</strong>
                                        <ul >
                                            <li><a href="/index_list?com=default&pn=1"  class="selected">默认排序</a></li>
                                            {% if params.com=='0' %}
                                            <li><a href="/index_list?com=1" id='price_order' >价格排序</a></li>
                                            {% else %}
                                            <li><a href="/index_list?com=0" id='price_order' >价格排序</a></li>
                                            {% endif %}
                                            <li><a href="/index_list?com=coll"  >收藏优先</a></li>
                                            <li><a href="/index_list?com=his"  >访问历史优先</a></li>
                                        </ul>
                                        
                                        <!-- <div class="grid_btn">
                                            <a href="travel_grid.html" class="grid"></a>
                                            <a href="travel_list.html" class="list active"></a>
                                        </div> -->
                                        <div class="clearfix"></div>
                                        <span class="border"></span>
                                    </div>
                                </div>

                                <div style="font-size:25px;color:pink;margin-bottom:30px;">{{params.message}}</div>
                                <div class="row travel_lest" id="project-container">
                                    
                                    {% for house in params.houses %}
                                    <div class=" span9 offer element branding">
                                        <figure>
                                            <img src="/static/images/downloads/{{house.picture_name.split(';')[1]}}.jpg"   alt="Offer Image">
                                            <!-- <div class="overlay">
                                                <span class="like"></span>
                                            </div> -->
                                        </figure>
                                        <article style="height:186px;">
                                            <h3>
                                                {{ house.village }} 
                                                <span style="font-size:16px;float: right;color: grey">更新时间:{{ house.last_time }}</span>
                                            </h3>
                                            <h4>{{ house.district }}</h4>
                                            <h4>
                                                {{house.room_type}}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                {{house.decoration_method}}
                                            </h4>
                                            <h4>{{ house.subway }}</h4>

                                            <!-- <div>
                                                <p>
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                </p>
                                                <span>Read 8 Reviews</span>
                                            </div> -->
                                            
                                            <p>{{ house.title }}</p>
                                        </article>
                                        <div class="price" style="height:192px;">
                                            <h3 style="font-size:20px;">{{house.price}}元/月</h3>
                                            <a href="/index_detail?id={{house.id}}"></a>
                                            <input type="text" value='{{house.id}}' id="house_id" style="display:none;">
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>

                                <span class="border"></span>
                            
                                <div class="pagination clearfix">
                                    <p>Showing<a href="#">   {{params.pn}}页 </a></p>
                                    <div class="errows">
                                        {% if params.pn == 1 %}
                                        <a href="/index_list?com={{params.com}}&pn={{params.pn-1}}" onclick="return false;" style="background-color:darkgray;" class="left_errow"></a>
                                        {% else %}
                                        <a href="/index_list?com={{params.com}}&pn={{params.pn-1}}" class="left_errow"></a>
                                        {% endif %}
                                        {% if params.houses %}
                                        <a href="/index_list?com={{params.com}}&pn={{params.pn+1}}" class="right_errow"></a>
                                        {% else %}
                                        <a href="/index_list?com={{params.com}}&pn={{params.pn+1}}" onclick="return false;" style="background-color:darkgray;" class="right_errow"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid page -->

                
                <!-- footer widgetxxxxxx -->

                <div class="footer-wrapper">
                        <div class="container">
                            <p id='copy'>Copyright &copy; Engineering team of BUG</p>
                            <!-- <div class="row">
                                <div class="span12">
                                
                                    <footer>
                                        <div class="footer-nav">
                                            <ul>
                                                <li><a href="#">About US</a></li>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Serbice</a></li>
                                                <li><a href="#">Recruiment </a></li>
                                                <li><a href="#">Media</a></li>
                                                <li>More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
                                            </ul>
                                        </div>
                                        <a href="javascript:void(0)" onClick="goToByScroll('top')" class="gotop"></a>
                                    </footer>
                                    
                                </div>
                            </div> -->
                        </div>
                    </div>
                
                
                <!-- Scripts -->
				<script src="/static/js/index/jquery-1.7.1.min.js"></script>
				<script src="/static/js/index/jquery.flexslider.js"></script>
                <script src="/static/js/index/jquery.flexslider-min.js"></script>
                <script src="/static/js/index/jquery.elastislide.js"></script>
                <script src="/static/js/index/jquery.carouFredSel-6.0.4-packed.js"></script>
                <script src="/static/js/index/jcarousellite_1.0.1.js"></script>
                <script src="/static/js/index/jquery.zweatherfeed.js"></script>
                <script src="/static/js/index/jquery.simpleWeather-2.3.min.js"></script>
                <script src="/static/js/index/jquery.cycle.all.js"></script>
                <script src="/static/js/index/jquery-ui.js"></script>
                <script src="/static/js/index/bootstrap.min.js"></script>
                <script src="/static/js/index/jquery.isotope.min.js"></script>
                <script src="/static/js/index/jquery.tinyscrollbar.min.js"></script>
                <script>
                    function goToByScroll(id){
                        $ = jQuery;
                        $('html,body').animate({scrollTop: $("#"+id).offset().top},3000);
                    }
                </script>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.scrollbar1').tinyscrollbar();
                    });
                </script>
                <script src="/static/js/index/custom.js"></script>	
                <script>
                    // $(function(){
                    //     $('.like').click(function(){
                    //         var id = $('#house_id').val()
                    //         console.log(id)
                    //         $.ajax({
                    //             url:'/favor?id='+id,
                    //             type:'get',
                    //             dataType:'json',
                    //             success:function(data){
                    //                 if (data.status == 1){
                    //                     alert('收藏成功!')
                    //                 }
                    //             }
                    //         });  
                    //     })
                    // })
                </script>
                <input type="number" name="btn" id="jishu_btn" value=0 style="display:none"/>；	
		</body>
</html>